:root
{
    --transition:all .3s ease-in-out;                //Transition setting of all page
}

@keyframes navBar
    {
        from
        {
            width: 0%;                                 //Hover effect for the links of the navbar
        }

        to
        {
            width: 100%;
        }
        

    }

    @keyframes navBar2
    {
        from
        {
            width: 100%;                                 //Hover effect for the links of the navbar
        }

        to
        {
            width: 0%;
            
        }
        

    }