
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*
{
    line-height: calc(0.125rem + 2ex + 0.125rem);
}

html
{
    font-size: 100%;
    font-family: 'Archivo';
    color:var(--clr-font-primary);
}   

*i
{
    caret-color: transparent;
}

