@use '../abstracts/' as a;

.landing__page>section#brands
{
    &>.brands__wrapper>img
    {
        display: initial;
        width: a.convertRem(80);
    }

    &>.brands__wrapper
    {
        display: grid;
        grid-template-columns: repeat(auto-fit,a.convertRem(80));
        justify-content: center;
        align-items: center;
        gap:5rem;
    }

    padding-inline: 1rem;
    margin-block-end: 3.5rem;
}


